data/norbi/codecs.zip filter=lfs diff=lfs merge=lfs -text
data/norbi/latents.zip filter=lfs diff=lfs merge=lfs -text
data/norbi/distils.zip filter=lfs diff=lfs merge=lfs -text
data/ljspeech/codecs.zip filter=lfs diff=lfs merge=lfs -text
data/ljspeech/latents.zip filter=lfs diff=lfs merge=lfs -text
data/ljspeech/distils.zip filter=lfs diff=lfs merge=lfs -text
data/ljspeech/ctc_align.npz filter=lfs diff=lfs merge=lfs -text
checkpoints/echo_final.pt filter=lfs diff=lfs merge=lfs -text
